.header {
  padding: 30px;
  text-align: center;
  color: goldenrod;
  font-style: italic;
  font-size: 30px;
}

body {
  background-image:url("ftlaudsunset.jpg");
  background-color:#cccccc; 
  background-position: 50% 50%;  
  color: white; text-align: center; font-family: Arial;  
}

h3 {color: red; text-align: center; text-decoration: underline;}
/* h2:hover {color: goldenrod;} */
h2 {font-size: 35px; font-family: Arial; color: red; text-align: center;}
/* h3:hover {color: goldenrod;} */
h4 {color: red; text-align: center; text-decoration: line-through;}

.border {
  border: 8px solid black; 
  padding: 20px; width: 100 px; height: 235px; 
  text-align: justify; 
  /*background-image:url("zapdos2.gif");*/ 
}

.sidenav {
  height: 100%; width: 90px;
  position: fixed;
  z-index: 1; top: 0; left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: underline;
  font-size: 25px;
  color: goldenrod;
  display: block;
}

.sidenav a:hover {color: #f1f1f1;}

::selection {
  background-color: orangered;
  color: ghostwhite; 
  opacity: 0.75; 
}
.main {margin-left: 7px; font-size: 24px; padding: 0px 10px;}
@media screen and (max-height: 450px) {.sidenav {padding-top: 15px;} .sidenav a {font-size: 18px;}}

p.blockMsg {
  padding: 20px; 
  border: 4px solid #000000;
  word-wrap: break-word;  
  color: goldenrod; 
  text-align: center; 
  font-family: Arial; 
  background-color: black; 
  opacity: 0.75; 
  }

audio {display: none;}

.dropbtn {
  background-color: goldenrod;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  position: 50% 50%; 
}

.dropdown {
  position: center;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: orangered;}
